html,
body {
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(19, 206, 206, 0.4);
  ;
}

header {
  color: black;
  font-size: 1.8rem;
  text-align: center;
  margin: 10px;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}


#navbar ul {
  overflow-y: auto;
  height: 87%;
  overflow-x: hidden;
  padding: 0;
}

#navbar li {
  list-style: none;
  border-top: 1px solid;

}

#navbar a {
  text-decoration: none;
  color: #4d4e53;
  cursor: pointer;
  padding: 10px 30px;
  display: block;
}

#main-doc {
  margin-left: 310px;
  padding: 20px;
}

section article {
  color: #4d4e53;
  margin: 15px;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  background-color: #b6aeae;
  white-space: pre-line;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  line-height: 2;
}
